# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PROJ - Construindo um sistema para estacionamento.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
